- title='Magic Mirror'
- author='ladicle'
- fullname='Aya Igarashi'

doctype html
html
  head
    title #{title} @#{author}
    meta(charset='utf-8')
    link(rel='icon' href='images/favicon.ico')
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400')
  body
    block content
