- title='Magic Mirror'
- author='ladicle'
- fullname='Aya Igarashi'

doctype html
html
  head
    title #{title} @#{author}
    meta(charset='utf-8')
    link(rel='icon' href='img/favicon.ico')
    link(rel='stylesheet' href='css/base.css')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,500')
    script(src='https://cdn.mlkcca.com/v2.0.0/milkcocoa.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.73/Bacon.min.js')
    script(src="js/jquery.js")
    script(src="https://cdn.auth0.com/js/lock-7.12.min.js")
    script(src="js/base.js")
    script(src="https://apis.google.com/js/client.js?onload=checkAuth")
  body
    .remocon
      .reactions.login
        .login-box: button.rbtn.login(value='login') Login
      .reactions.detect.showing
        h1 Hello, 
          span.nickname .
          span !
        .reaction-box: button.rbtn.reaction(value='pic') Picture
        .reaction-box: button.rbtn.reaction(value='hair') Hair
