- title='Magic Mirror'
- author='ladicle'
- fullname='Aya Igarashi'

doctype html
html
  head
    title #{title} @#{author}
    meta(charset='utf-8')
    link(rel='icon' href='img/favicon.ico')
    link(rel='stylesheet' href='css/base.css')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400')
  body
    header
      div#weather
        div#today-weather
          p#temperature.big-font 59°
          img(src="./img/sun-and-rain.png" alt="weather")
          hr.clear
        div#tomorrow-weather
          p Tomorrow morning is
          p light raining

      div#date
        p#time.big-font 3:20
        p#week Tuseday
        p#day Juniary 32th

    div#content
      p Not logined.

    script(src="dst/js/jquery.js")
    script(src="dst/js/base.js")
